.Home {
    text-align: center;
    background-color: darkred;
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 0.75vmin);
    color: white;
  }

  /* Style rules for the "OR" element */
  .Home-h1-or {
    margin: 0px 100px 0px 100px;
    padding: 5px 5px;
    font-size: 4.3em;
    color: gold;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.8);
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    width: 300px;
    height: 30px;
    margin: 0px 0px 30px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 0.8em;
  }

  button {
    background-color: cadetblue;
    color: white;
  }
  
  .RecentList {
    padding: 0px 0px 0px 30px;
  }
  
  .Home-RecentList-h1 {
    text-align: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .RecentList-li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .RecentList-li > div {
    display: flex;
    flex-direction: column;
  }
  
  .RecentList-li label {
    display: block;
  }
  
  .RecentList-li input[type="checkbox"] {
    transform: scale(1.5);
  }
  
  /* Style rules for checkbox focus state */
  .RecentList-li input[type="checkbox"]:focus {
    outline: none;
    box-shadow: none;
  }
  
  .RecentList-li h2 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .RecentList-li p {
    margin: 0;
    font-size: 1.1em;
  }